/* Space out content a bit */
 body {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
 .header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */
 .header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
 .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */
 .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */
 @media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Main marketing message and sign up button */
 .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
/* Supporting marketing content */
 .marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */
 @media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
/*Navgrid style*/
 .nav-grid {
    overflow: hidden;
    position: relative;
}
.tv-container--channels-list {
    width: 400px;
    height: 20px;
    border: solid 1px #e2e2e2;
    padding-right: 0px;
    padding-bottom: 54px;
}
.nav-grid--scroller {
    transition: all;
    transition-duration: 0.5s;
    height: 100%;
    overflow: hidden;
}
.nav-grid--nav-item {
    cursor: pointer;
    float: left;
    min-height: 10px;
    display: block;
    width:200px;
}
.nav-grid--nav-item.active {
    background-color: #e2e2e2;
}
.element.active {
    background-color: #e2e2e2;
}
.tv-container.active {
    color: red;
}
.global-scroll--vertical {
    position: absolute;
    right: 0px;
    top: 0px;
}
.global-scroll--wrapper {
    width: 54px;
}
.global-scroll--button-top, .global-scroll--button-down {
    width: 54px;
    height: 54px;
    background-color: #000000;
    cursor: pointer;
    display: none;
    /*background-image: image-url('scroll-btn.png');*/
}
.global-scroll--button-top {
    background-position: top center;
}
.global-scroll--button-down {
    background-position: bottom center;
}
.global-scroll--scroll-container {
    width: 20px;
    background-color: #000000;
    margin: 0 auto;
}
.global-scroll--button-scroller {
    background-color: #e2e2e2;
    width: 10px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.global-scroll--wrapper-horizontal {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 54px;
}
.global-scroll--button-left-horizontal, .global-scroll--button-right-horizontal {
    width: 54px;
    height: 54px;
    background-color: #000000;
    cursor: pointer;
    float: left;
  /*  display: none;*/
    /*background-image: image-url('scroll-btn.png');*/
}
.global-scroll--horizontal .global-scroll--button-top {
    background-position: top center;
}
.global-scroll--horizontal .global-scroll--button-down {
    background-position: bottom center;
}
.global-scroll--scroll-container-horizontal {
    position: relative;
    float: left;
    height: 20px;
    background-color: #000000;
    top: 50%;
    margin-top: -10px;
}
.global-scroll--button-scroller-horizontal {
    background-color: #e2e2e2;
    width: 50px;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    position: absolute;
}
